<div class="container text-center">
  <h1>This is the SAASAPP about page</h1>
  <p>We are DevMatch.  Our company focuses on creating and exclusive community
  for developers and entrepeneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, quasi, quidem, perferendis quam necessitatibus vel hic praesentium eaque quisquam nisi in eius assumenda placeat asperiores eos officiis repellat totam mollitia.</p>
</div>