<div class='text-center home-page container-fluid'>
  <h1>Welcome to DevMatch</h1>
  <h3>A membership site when entrepeneurs can meet developers</h3>
</div>

<div class="container home-signup-links">
  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">Basic Membership Link</h2>
        <h4>Signup for free and get basic access to our community</h4>
        <br />
        <%= link_to "Signup with our Basic Plan", "#", class: 'btn btn-primary btn-lg btn-block' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">Pro Membership Link</h2>
        <h4>Signup for $10/month and get full access to our community and contact with other members</h4>
        <br />
        <%= link_to "Signup with our Pro Plan", "#", class: 'btn btn-success btn-lg btn-block' %>        
      </div>
    </div>
  </div>
</div>